@import "../../sass/shared";

.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  width: 100%;
  padding: 0 16px;

  @media screen and (min-width: $medium-breackpoint) {
    margin: auto;
    border-radius: 2px;
  }

  @media screen and (min-width: $large-breackpoint) {
    max-width: 1200px;
  }

  &--full {
    width: 100%;
  }

  &--two-cols {
    grid-gap: 16px;
    @media screen and (min-width: $medium-breackpoint) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-auto-rows: auto;
      width: 100%;
      margin: auto;
      border-radius: 2px;
    }
  }

  &--four-cols {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;

    @media screen and (min-width: $medium-breackpoint) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__col {
    padding: 16px;
  }
}
