@import "../../sass/shared";

.search {
  padding: 16px 0;
  width: 100%;
  background-color: $primary-brand-light-color;

  ::placeholder {
    color: #aaa;
    font-weight: 400;
  }

  &__form {
    display: flex;
    flex-direction: column;
    box-shadow: $static-shadow;
    background-color: $primary-brand-color;
    border-radius: $radius;
    padding: 24px 16px;
    overflow: hidden;

    @media screen and (min-width: $medium-breackpoint) {
      flex-direction: row;

      .input-form {
        width: 25%;
        &:last-child {
          margin-left: 16px;
        }
      }
    }
  }
}
