@import "../../sass/shared";

.delivery-form {
  background-color: $primary-brand-color;

  &__heading {
    color: #fff;
    font-weight: 500;
    margin: 0 0 16px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    box-shadow: $static-shadow;
    border-radius: 2px;
    overflow: hidden;

    @media screen and (min-width: $medium-breackpoint) {
    }

    &__input {
      color: $secondary-font-color;
      line-height: 20px;
      width: 100%;
      padding: 6px 0;
      border: none;

      @media screen and (min-width: $medium-breackpoint) {
        padding-left: 12px;
      }
    }

    &__submit {
      padding: 6px 0;
      width: 36px;
      background-color: #fff;
      border: none;
      background-image: url(/magnifying-glass.svg);
      background-size: 14px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
