@import "../../sass/shared";

.item {
  width: 100%;
  background-color: #f5f5f5;
  box-shadow: $static-shadow;
  border-radius: $radius;
  overflow: hidden;

  &:hover {
    @extend %hover;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  &__link {
    color: $primary-font-color;
    text-decoration: none;
  }

  &__description-container {
    width: 100%;
    @media screen and (min-width: $medium-breackpoint) {
    }
  }

  &__title {
    color: #fff;
    background-color: $primary-brand-color;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    padding: 8px 16px;
    margin: 0;

    @media screen and (min-width: $medium-breackpoint) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__about {
    font-size: 16px;
    margin: 0;
    padding: 16px; 
  }
}
