@import "../../sass/shared";

.short-description {
  .price {
    display: block;
    &__currency {
      font-size: 44px;
      font-weight: 300;
      margin-right: 4px;
    }
    &__value {
      font-size: 44px;
      font-weight: 300;
    }
    &__decimal {
      font-size: 28px;
      font-weight: 300;
      margin-left: 2px;
    }
  }
}

.item {
  .price {
    display: block;
    color: $primary-font-color;

    &__currency {
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      margin-right: 6px;
    }
    &__value {
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
    }
    &__decimal {
      font-size: 12px;
      line-height: 12px;
      margin-left: 2px;
    }
  }
}
