@import "../../sass/shared";

.nav {
  background-color: #fff;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px;

    @media screen and (min-width: $medium-breackpoint) {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 16px;
    }

    @media screen and (min-width: $large-breackpoint) {
      max-width: 1200px;
      margin: auto;
    }
  }
}
