@import "../../sass/shared";

.nav {
  background-color: $primary-brand-color;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 52px 0 10px;

    @media screen and (min-width: $medium-breackpoint) {
      padding: 0 16px;
    }

    @media screen and (min-width: $large-breackpoint) {
      max-width: 960px;
      margin: auto;
    }
  }
}
