@import "../../sass/shared";

.delivery-item {
  display: grid;
  grid-template-columns: 2fr 64px 1fr 1fr;
  grid-column-gap: 16px;

  font-size: 14px;
  line-height: 18px;

  &__product {
  }

  &__remove {
    color: #dc3545;
    border-color: #dc3545;
    @extend %button;
    margin-right: 6px;
  }

  &__amount {
    &-input {
      width: 100%;
      border: 1px solid #eee;
      border-radius: $radius;
      padding: 0 10px 0 0;
      line-height: 18px;
      text-align: right;
    }
  }

  &__price {
    text-align: right;
  }

  &__total {
    text-align: right;
  }
}
