@import "../../sass/shared";

.menu-item {
  display: grid;
  grid-template-columns: 2fr 1fr 64px;
  grid-column-gap: 16px;
  font-size: 14px;
  align-items: center;

  &__name {
    flex: 2 2 60%;
  }

  &__tooltip {
    display: none;
  }

  &__price {
    text-align: right;
  }

  &__add {
    color: #28a745;
    border-color: #28a745;
    @extend %button;
    flex: 1 1 15%;
  }
}
