@import "../../sass/shared";

.menu-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 16px;
  font-size: 14px;
  align-items: center;

  &__name {
    flex: 2 2 60%;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__price {
    text-align: right;
  }

  &__add {
    color: #28a745;
    border-color: #28a745;
    max-width: 42px;
    @extend %button;
  }
}
